<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <meta name="google" content="notranslate">
  <meta http-equiv="Content-Language" content="en">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="robots" content="noindex">
  <title>Portfolio | Sean Sam</title>
  <meta name="description" content="Sean Sam's design portfolio - web pages, posters, book covers, and menus">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href="{{ '/apple-touch-icon.png' | prepend: site.baseurl }}">
 <link rel="icon" type="image/png" sizes="32x32" href="{{ '/favicon-32x32.png' | prepend: site.baseurl }}">
 <link rel="icon" type="image/png" sizes="16x16" href="{{ '/favicon-16x16.png' | prepend: site.baseurl }}">
 <link rel="manifest" href="{{ '/site.webmanifest' | prepend: site.baseurl }}">
 <link rel="mask-icon" href="{{ '/safari-pinned-tab.svgO' | prepend: site.baseurl }}" color="#5bbad5">
 <link rel="shortcut icon" href="{{ '/favicon.ico' | prepend: site.baseurl }}">
 <meta name="msapplication-TileColor" content="#da532c">
 <meta name="theme-color" content="#ffffff">
  <style>
  html {
    display: none;
  }
</style>
  <link rel="stylesheet" href="{{ '/assets/css/bulma.min.css' | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ '/assets/css/main-portfolio.css' | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ '/assets/css/animate.min.css' | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ '/assets/css/simpleLightbox.min.css' | prepend: site.baseurl }}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
